:root{
    --primary : #1F33D8;
    --yellow : #FFD456;
}

body {
    font-family: 'Lato', sans-serif;
}

// utilities
.text-primary{
    color: var(--primary);
}
.text-yellow{
    color: var(--yellow);
}
.button-primary{
    background-color: var(--primary);
    color: white;
}
.button-white {
    background-color: white;
    color: black;
}

h1,h2,h3 {
    font-weight: bold;
    font-size: 3em;
}
a {
    text-decoration: none;
    color: inherit;
}

// Navbar
.intro{
    &-navbar{
        background: #F4F5FA;
        padding: 20px 0px;
    }
    &-wrap{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &-nav-link{
        color: black !important;
    }
    &-nav-item{
        color: black !important;
    }
}

// Hero
.hero{
    &-container {
        background: #F4F5FA;
    }
    &-inner{
        display: flex;
        flex-direction: row;
    }
    &-content {
        width: 90%;
        display: flex;
        margin-left: 10rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
    }
    &-info{
        width: 700px;
        margin: 0px auto;
        h1{
            font-size: 72px;
        }
        p{
            font-size: 22px;
            font-weight: 700;
        }
    }
    &-action{
        display: flex;
        flex-direction: row;
        margin: 40px 0px;
        .btn{
            margin-right: 20px;
            border-radius: 20px;
            padding: 10px 40px;
            border: none;
        }
    }
    &-tree{
        //height: 600px;
        //background: url("../assets/images/hero-bg.png") no-repeat top center/cover;
    }
}

// About 
.about{
    &-header {
        text-align: center;
        margin: 6rem 0px;
    }
    &-content {
        text-align: left;
        display: flex;
        flex-direction: row;
    }
    &-aside{
       h2{
           margin-bottom: 4rem;
           font-size: 2.5rem;
       }
    }
    &-video{
        &-text{
            margin-left: 3rem;
            margin-bottom: 4rem;
            &-link{
                display: flex;
                flex-direction: row;
                color: var(--primary);
                font-weight: bold;
                text-decoration: none;
            }
            p {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}


// Wallet Cards
.primary-wallet{
    background-color: var(--primary) ;
    background-image: url("../assets/images/wallet-bg-blue.png");
    color: white;
}
.secondary-wallet{
    background-color: var(--yellow) ;
    background-image: url("../assets/images/wallet-bg-yellow.png");
    color: black;
}
.wallet{
    &-container{
        height: 462px;
        width: 373px;
        padding: 20px 30px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 1rem;
    }
    &-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 2rem 0px;
        h4 {
            margin-left: 12px;
            font-size: 32px;
        }
    }
    &-icons{
        margin: 12px 0px;
    }
    &-action{
        margin-top: 8rem;
        margin-left: 2rem;
    }
}

// Quick start 
.qs {
    &-content{
        display: flex;
        flex-direction: row;
        margin: 1.5rem 0px;
    }
    &-image{
        height: 130px;
        width: 130px;
        &-container{
            background-color: var(--yellow);
            border-radius: 999px;
        }
    }
    &-desc{
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        margin-left: 2rem;
        width: 300px;
        h3{
            font-size: 23px;
            font-weight: bold;
        }
        span{
            font-size: 16px;
            font-weight: 500;
        }
    }
}

// Advert
.advert{
    &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 8rem 0px;
    }
    &-card-mx{
        height: 462px;
        width: 430px;
    }
    &-action{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 60px;
        width: 194px;
        margin-left: 0px;
        border-radius: 0px 50px 50px 0px;
        margin-bottom: 3.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &-primary{
            background-color: var(--yellow);
            color: black;
            font-weight: bold;
        }
        &-secondary{
            background-color: var(--primary);
            color: white;
            font-weight: bold;
        }
    }
}

@media screen and (max-width : 1400px) {
    .hero-tree {
        display: none;
    }
    .about{
        &-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &-aside{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         }
        &-video{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-text{
                margin-left: 3rem;
                margin: 4rem 0px;
                
            }
        }
    }
}